@using System.Unicode
@using CurrieTechnologies.Razor.Clipboard
@inject ClipboardService clipboard
@{
    var CodePoint = $"{UnicodeInfo.CodePoint:X4}";
}
<div class="row my-3">
    <div class="row px-3 display-sm-4 display-3">
        <span class="align-self-end" style="font-family:monospace;">U+</span>
        <span class="align-self-end flex-fill text-right d-inline-block" style="font-family:monospace;min-width:6ex;max-width:6ex;">@CodePoint</span>
        <span class="ml-1 p-1 d-inline-block border text-center text-nowrap" style="min-width:2ex;min-height:2ex"><span class="display-sm-5 display-4" style="margin-left:-1ex">&#8203;</span>@(UnicodeInfo.GetDisplayText())<span class="display-sm-5 display-4" style="margin-right:-1ex">&#8203;</span></span>
    </div>
    <div class="col-sm-12 col-md col-xl">
        <div class="row col-auto overflow-auto">
            @(UnicodeInfo.Name ?? UnicodeInfo.OldName)
            <button class="btn btn-link p-0 m-0 mx-1" title="copy to clipboard" @onclick="async () => await clipboard.WriteTextAsync(char.ConvertFromUtf32(UnicodeInfo.CodePoint))">📋</button>
        </div>
        <div class="row px-3">
            <NavLink href="@($"/code/{CodePoint}")" Match="NavLinkMatch.All">more information</NavLink>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public UnicodeCharInfo UnicodeInfo {get;set;} 
}