@page "/code/{CodePoint}";
@using System.Unicode;
@using System.Globalization;
@inject NavigationManager nav;
<Title>@(int.TryParse(CodePoint, NumberStyles.HexNumber, NumberFormatInfo.InvariantInfo, out var _CodePoint) && char.ConvertFromUtf32(_CodePoint) is string charactor 
    ? charactor + " - " : "") Unicode Charactor</Title>
<div class="text-right">Unicode @UnicodeInfo.UnicodeVersion</div>
@if (int.TryParse(CodePoint, NumberStyles.HexNumber, NumberFormatInfo.InvariantInfo, out var _CodePoint))
{
    var UnicodeInfo = System.Unicode.UnicodeInfo.GetCharInfo(_CodePoint);
    <UnicodeInformation Unicode="@UnicodeInfo"/>
} else {
    
}
@code {
    [Parameter]
    public string CodePoint { get; set; } = string.Empty;
}
